.container {
  background-color: #C9C9C9;
  height: 80px;
  width: 100%;
}
.contents {
  padding-top: 10px;
  padding-bottom:10px;
  display: grid;
  font-family: sofia;
  font-size: 30px;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
  height: 60px;
}
.column {
  border-left: 2px solid black;
}
