.clmnContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  vertical-align: middle;
  padding: 45px;
  background-color: powderblue;
}
.clmn {
  vertical-align: center;
  padding-top: 35px;
  blackground-color: #ccffcc;
}
.hoverBox {
  border-left: 6px solid #9900ff;
  padding-left: 4px;
}
.AuDropdown {
  display: none;
}
.Au:hover + .AuDropdown {
  display: block;
  position: absolute;
}
