<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

  <script src="../components/header/react.js"></script>
  
  <link rel="stylesheet" href="../components/header/header.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <script src="../components/header/header.js"></script>
</head>
<body onLoad="onLoad()">
  <div id="header">
  </div>
  <hr>
  <p>test 5</p>
<div id="like_button_container"></div>
</body>
</html>
