<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../components/header/header.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

<script>
  function onLoad() {
    var header = "../components/header/header.html";
    document.getElementById("header").innerHTML = "<object type='text/html' data='home.html'></object>";
    alert("test");
  }
</script>
  
</head>
<body onload="onLoad()">
  <div id="header">
    
  </div>
  <link rel="import" href="../components/header/header.html">
  <hr>
  <p>test 3</p>
</body>
</html>
