<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="../components/header/header.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
  <object data="https://www.google.com" width="550px" height="150px">ddg</object>
  <p>duckduckgo</p>
  <div id="HDR">
    <div id="HDRcontainer">
      <div id="HDRcontents">
          <img src="../components/imgs/cat1.png" alt="..." class="HDRlogo">
        <div class="HDRlinks">
          <p>ABCDE</p>
          <p>FGHIJ</p>
          <p>KLMNO</p>
        </div>
        <div class="HDRsearch">
          <p>SEARCH</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
