<head>
  <title>Places To Go</title>
  <link rel="stylesheet" href="../components/pages/PlacesToGo.css">
  <script type="text/javascript" src="../components/pages/PlacesToGo.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body class="general">
  <div class="clmnContainer">
    <div class="clmn">
      <h1>2025-2026 CALENDAR</h1>
    </div>
    <div class="clmn btnClmn">
      <button id="AuBtn" class="prceBtn" onclick="prceBtn(this.id, '#DF6211');">AUSTRALIA</button>
      <button id="FiBtn" class="prceBtn" onclick="prceBtn(this.id, 'white')">FINLAND</button>
      <button id="InBtn" class="prceBtn" onclick="prceBtn(this.id, '#835DBE')">INDONESIA</button>
      <button id="MgBtn" class="prceBtn" onclick="prceBtn(this.id, '#988360')">MONGOLIA</button>
      <button id="MnBtn" class="prceBtn" onclick="prceBtn(this.id, '#00B2FF')">MONTANA</button>
      <button id="SaBtn" class="prceBtn" onclick="prceBtn(this.id, '#588E51')">S. AFRICA</button>
    </div>
    <div class="clmn">
      <h1>PRICES LIST</h1>
      <p>Starting money: £4500</p>
      <div class="hoverBox">
        <p><b>Australian food</b>: WOOLWORTHS</p>
        <p>Total cost 3 months: $842.52 / £438.15</p>
      </div>
       <div class="au">
         <div class="hoverBox">
           <p><b>Food</b>: WOOLWORTHS</p>
           <p>Total cost 3 months: $842.52 / £438.15</p>
         </div>
         <div>
           <p>abcd</p>
         </div>
      </div>
      <div class="AuDropdown dropdown">
        <div class="padding">
          <p>AVERAGE DAILY COST: $8.36 / 4.35</p>
            <li>1 can Heinz soup - $4.40 / £2.29</li>
            <li>1 Woolworth's own bread roll -  $0.50 / £0.21</li>
            <li>1 serving Kellogg's cereal - $0.62 / £0.32</li>
            <li>1 large potato - $0.39 / £0.20</li>
            <li>100g punnet mushroom - $2.00 / £1.04</li>
            <li>1/2 garlic - $0.55 / £0.29</li>
            <li>100g uncooked rice - $0.71 / £0.37</li>
            <br>
            <p>AVERAGE EXTRA MONTHLY COST: $26.43 / £13.74</p>
            <li>Mixed herbs - $1.20 / £0.62</li>
            <li>Lea & Perrin's - $5.00 / £2.60</li>
            <li>200ml olive oil - $4.00 / £2.08</li>
            <li>Spreadable Butter - $5.50 / £2.86</li>
            <p>TOTAL MONTHLY: $280.90 / £146.05</p>
          </div>
        </div>
          <p><a href="https://immi.homeaffairs.gov.au/visas/getting-a-visa/visa-listing/work-holiday-417/first-working-holiday-417#About">WORK VISA: $635 / £330 up to 12 months</a></p>
          <p><a href="https://www.rfttejobs.com/hot-jobs">RFTTEJobs</a></p>
          <p>£12.50 / hour, full time: £2400</p>
          <p>6 months: £14,400</p>
    </div>
  </div>
    <hr>
    <hr>
  <div>
    <h1>PHOTOS</h1>
  </div>
</body>
