<head>
  <title>Places I Intend To Go</title>
  <link rel="stylesheet" href="../components/pages/PlacesToGo.css">
</head>
<body>
  <div class="clmnContainer">
    <div class="clmn">
      <h1>2025-2026 CALENDAR</h1>
    </div>
    <div class="clmn">
      <h1>PRICES LIST</h1>
      <p>Starting money: £4500</p>
      <p>Australian food: WOOLWORTHS</p>
      <li>1 can Heinz soup - $4.40 / £2.29</li>
      <li>1 Woolworth's own bread roll -  $0.50 / £0.21</li>
      <li>1 serving Kellogg's cereal - $0.62 / £0.32</li>
      <li>1 large potato - $0.39 / £0.20</li>
      <li>100g punnet mushroom - $2.00 / £1.04</li>
      <li>1/2 garlic - $0.55 / £0.29</li>
      <li>100g uncooked rice - $0.71 / £0.37</li>
      <br>
      <li>Mixed herbs - $1.20 / £0.62</li>
      <li>Lea & Perrin's - $5.00 / £2.60</li>
      <li>200ml olive oil - $4.00 / £2.08</li>
    </div>
  </div>
    <hr>
  <div>
    <h1>FUTURE LOCATIONS:</h1>
    <li>Great Barrier Reef</li>
  </div>
</body>
